include ../homes-section/homes-section-content

mixin homes-section
  section.homes
    .homes__container._container
      .homes__slider.swiper
        .homes__title._title-section Homes guests loves
        .homes__slider-wrapper.swiper-wrapper
          each slide in homes
            .homes__slide.swiper-slide
              .homes__slide-image
                img.homes__slide-image-item(src=require(slide.image), alt='')
              a.homes__slide-title(href='#') #{ slide.name }
              .homes__slide-subtitle
                | #{ slide.location }
        a.homes__slider-btn.swiper-button-next(href='#')
          svg.homes__slider-btn-icon
            use(href='#arrow-btn')
