-
  var homes = [
    {
      image: '../../../assets/images/homes-section/leopold-hotel.jpg',
      name: 'Hotel Leopold',
      location: 'Saint Petersburg, Russia'
    },
    {
      image: '../../../assets/images/homes-section/sunshine-apartment.jpg',
      name: 'Apartment Sunshine',
      location: 'Santa Cruz de Tenerife, Spain'
    },
    {
      image: '../../../assets/images/homes-section/villa-kunerad.jpg',
      name: 'Villa Kunerad',
      location: 'Vysokie Tatry, Slowakia'
    },
    {
      image: '../../../assets/images/homes-section/hostel-friendship.jpg',
      name: 'Hostel Friendship',
      location: 'Berlin, Germany'
    }
  ]
