/*Fonts*/
@import url("./fonts.css");

/**/ /*nullstyle*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  min-height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
/*vars*/
:root {
  --general-blue: #3077c6;
  --bg-blue: #10367c;
  --general-white: #ffffff;
  --hover-yellow: #f5bd41;
  --stroke-color: #f3f3f4;
  --text-color: #383838;
  --secondary-text: #bfbfbf;
  --dark-mode-1: rgba(18, 18, 18, 0.25);
  --col-width: calc(100% / 12);
}
/*...............................*/
/*grid*/
.col-lg-1 {
  width: var(--col-width);
}
.col-lg-2 {
  width: calc(var(--col-width) * 2);
}
.col-lg-3 {
  width: calc(var(--col-width) * 3);
}
.col-lg-4 {
  width: calc(var(--col-width) * 4);
}
.col-lg-5 {
  width: calc(var(--col-width) * 5);
}
.col-lg-6 {
  width: calc(var(--col-width) * 6);
}
.col-lg-7 {
  width: calc(var(--col-width) * 7);
}
.col-lg-8 {
  width: calc(var(--col-width) * 8);
}
.col-lg-9 {
  width: calc(var(--col-width) * 9);
}
.col-lg-10 {
  width: calc(var(--col-width) * 10);
}
.col-lg-11 {
  width: calc(var(--col-width) * 11);
}
.col-lg-12 {
  width: calc(var(--col-width) * 12);
}

/*...............................*/
/* ........COMMON STYLES.................... */
html,
body {
  font-family: "Roboto";
  font-weight: 400;
}

._container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
}
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.main {
  flex: 1 1 auto;
}
/* .................................................. */

/*TOP-SECTION*/

/*COMMON STYLES*/
.top-section {
  position: relative;
  min-height: 100vh;
  background: url("../images/top-section/bg-top-section.jpg") no-repeat;
  background-size: cover;
}
.top-section:before {
  content: "";
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--dark-mode-1);
}

.top-section__container {
  display: flex;
  flex-direction: column;
}
.top-section__header {
  display: flex;
  min-height: 46px;
  margin: 51px 0 196px 0;
  z-index: 10;
}
/*..................................*/

/* top section header */
.header__logo {
  margin: 0 684px 0 0;
}
.header__logo_icon {
  fill: var(--general-blue);
  width: 205px;
  height: 40px;
}
.header__night-button {
  display: flex;
  align-items: center;
  margin: 0 24px 0 0;
}
.header__night-button-icon {
  fill: var(--general-white);
  width: 30px;
  height: 30px;
}
.header__account-button {
  display: flex;
  align-items: center;
}
.header__account-button-icon {
  fill: var(--general-white);
  width: 40px;
  height: 40px;
}
.header__menu {
  display: flex;
  align-items: center;
  margin: 0 48px 0 0;
}
.menu__list {
  display: flex;
}
.menu__item {
  margin: 0 24px 0 0;
}
.menu__item:last-child {
  margin: 0;
}
.menu__link {
  font-size: 24px;
  line-height: 117%;
  color: var(--general-white);
}
.menu__link:hover {
  padding: 0 0 8px 0;
  border-bottom: 4px solid var(--hover-yellow);
}

/* .............................. */

/* top section content */

.top-section__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 131px 0;
}
.content__title {
  align-self: start;
  max-width: 542px;
  margin: 0 0 100px 0;
  font-weight: 500;
  font-size: 50px;
  line-height: 118%;
  color: var(--general-white);
}
.content__form-subtitle {
  display: flex;
  align-self: start;
  padding: 0 0 0 24px;
  margin: 0 0 24px 0;
  z-index: 10;
}
label {
  margin: 0 221px 0 0;
  font-size: 18px;
  line-height: 117%;
  color: var(--general-white);
}
label:last-child {
  margin: 0;
}
.content__form {
  display: flex;
  align-items: center;
  align-self: start;
  margin: 0 0 280px 0;
  background: var(--general-white);
  border-radius: 8px;
  z-index: 10;
}
.content__form_city {
  padding: 0 24px;
  font-size: 18px;
  line-height: 117%;
  color: var(--text-color);
  width: 467px;
  height: 64px;
  border: 3px solid var(--stroke-color);
  border-radius: 8px;
}

.content__form_city:hover {
  border: 3px solid var(--hover-yellow);
  border-radius: 8px;
}

.content__form_date {
  width: 259px;
  height: 64px;
}
.content__form_date:hover {
  border: 3px solid var(--hover-yellow);
  border-radius: 8px;
}

.content__form_guests {
  padding: 0 24px;
  font-size: 18px;
  line-height: 117%;
  color: var(--text-color);
  width: 314px;
  height: 64px;
  border: 3px solid var(--stroke-color);
}
.content__form_guests:hover {
  border: 3px solid var(--hover-yellow);
  border-radius: 8px;
}
.content__form_button {
  font-weight: 500;
  font-size: 24px;
  line-height: 117%;
  text-align: center;
  color: var(--general-white);
  width: 192px;
  height: 64px;
  background: var(--general-blue);
  border-radius: 8px;
}
.content__form_button:hover {
  color: var(--hover-yellow);
}
.content__download {
  display: flex;
  justify-content: space-between;
  width: 270px;
  height: 40px;
  z-index: 10;
}
.content__download_google-icon {
  width: 135px;
  height: 40px;
}
.content__download_appstore {
}
.content__download_appstore-icon {
  width: 120px;
  height: 40px;
}

/* ........................................... */

/* OFFER */

/* COMMON STYLES */
.features__subtitle {
  font-size: 24px;
  line-height: 28px;
  color: var(--text-color);
}
.features__item {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0 8px;
}
.item__img {
  fill: var(--general-blue);
  width: 100px;
  height: 100px;
  margin: 0 0 48px 0;
}
/* .................................. */

.offer {
  padding: 106px 0 122px 0;
}
.offer__title {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  color: var(--text-color);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.offer__title:after {
  content: "";
  display: block;
  width: 100px;
  height: 4px;
  background: var(--hover-yellow);
  margin: 20px 0 0 0;
}
.offer__features {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 80px 0 0 0;
}
/* .............................. */
/* FOOTER */

/* COMMON STYLES */

.link__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  color: var(--general-white);
}
.link__title:hover {
  text-decoration: underline;
}
.item__link {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  color: var(--general-white);
}
.item__link:hover {
  text-decoration: underline;
}
.list__item {
  margin: 24px 0 0 0;
}

/* ......................... */

.footer {
  padding: 120px 0;
  background: var(--bg-blue);
}
.footer__container {
  display: flex;
  flex-direction: column;
}
.footer__content {
  display: flex;
}

.footer__copyright {
  line-height: 1.14;
  color: var(--general-white);
  margin: 64px 0 0 0;
}
.footer__logo_icon {
  display: none;
  fill: var(--general-white);
  height: 19px;
  margin: 0 0 40px 0;
}
/* ............................. */

@media (max-width: 1024px) {
  .col-md-1 {
    width: var(--col-width);
  }
  .col-md-2 {
    width: calc(var(--col-width) * 2);
  }
  .col-md-3 {
    width: calc(var(--col-width) * 3);
  }
  .col-md-4 {
    width: calc(var(--col-width) * 4);
  }
  .col-md-5 {
    width: calc(var(--col-width) * 5);
  }
  .col-md-6 {
    width: calc(var(--col-width) * 6);
  }
  .col-md-7 {
    width: calc(var(--col-width) * 7);
  }
  .col-md-8 {
    width: calc(var(--col-width) * 8);
  }
  .col-md-9 {
    width: calc(var(--col-width) * 9);
  }
  .col-md-10 {
    width: calc(var(--col-width) * 10);
  }
  .col-md-11 {
    width: calc(var(--col-width) * 11);
  }
  .col-md-12 {
    width: calc(var(--col-width) * 12);
  }
  .offer__features {
    row-gap: 32px;
  }
  .item__img {
    margin: 0 0 16px 0;
  }
}
@media (max-width: 768px) {
  :root {
    --col-width: calc(100% / 6);
  }
  .col-sm-1 {
    width: var(--col-width);
  }
  .col-sm-2 {
    width: calc(var(--col-width) * 2);
  }
  .col-sm-3 {
    width: calc(var(--col-width) * 3);
  }
  .col-sm-4 {
    width: calc(var(--col-width) * 4);
  }
  .col-sm-5 {
    width: calc(var(--col-width) * 5);
  }
  .col-sm-6 {
    width: calc(var(--col-width) * 6);
  }
  .offer {
    padding: 24px 0 40px 0;
  }
  .offer__features {
    margin: 40px 0 0 0;
    justify-content: center;
  }
  .features__subtitle {
    font-size: 20px;
    line-height: 117%;
  }
  .list__item {
    display: none;
  }
  .footer__logo_icon {
    display: block;
    height: 33px;
  }
  .footer__container {
    align-items: center;
  }
  .link__title {
    text-decoration: underline;
  }
  .footer {
    padding: 40px 0;
  }
  .footer__content {
    justify-content: center;
    text-align: center;
  }
  .footer__about {
    padding: 0 7px 0 10px;
  }
  .footer__property {
    padding: 0 9px 0 7px;
  }
  .footer__support {
    padding: 0 11px 0 9px;
  }
}

@media (max-width: 360px) {
  .offer__title:after {
    display: none;
  }
  .offer__title {
    font-size: 28px;
    line-height: 117%;
    color: var(--text-color);
    margin: 0 0 32px 0;
  }
  .features__subtitle {
    font-size: 15px;
    line-height: 117%;
    color: var(--text-color);
  }
  .offer__features {
    margin: 0;
    justify-content: center;
  }
  .item__img {
    width: 59px;
    height: 68px;
  }
  .footer__logo_icon {
    height: 19px;
  }
  .link__title {
    font-size: 15px;
    line-height: 117%;
  }
  .footer__copyright {
    text-align: center;
    margin: 32px 0 0 0;
    font-size: 12px;
  }
  .footer__about {
    padding: 0 9px 0 9px;
  }
  .footer__property {
    padding: 0 6px 0 7px;
  }
  .footer__support {
    padding: 0 10px 0 10px;
  }
}
