/*Fonts*/
@import url("./fonts.css");

/**/ /*nullstyle*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  min-height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

/* ........COMMON STYLES.................... */
html,
body {
  font-family: "Roboto";
  font-weight: 400;
}
._container {
  max-width: 1272px;
  margin: 0 auto;
  padding: 0 20px;
}
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.main {
  flex: 1 1 auto;
}
/* .................................................. */

/*TOP-SECTION*/

/*COMMON STYLES*/
.top-section {
  position: relative;
  min-height: 100vh;
  background: url("../images/top-section/bg-top-section.jpg") no-repeat;
  background-size: cover;
}
.top-section:before {
  content: "";
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(18, 18, 18, 0.25);
}

.top-section__container {
  display: flex;
  flex-direction: column;
}
.top-section__header {
  display: flex;
  min-height: 46px;
  margin: 51px 0 196px 0;
  z-index: 10;
}
/*..................................*/

/* top section header */
.header__logo {
  display: inline-block;
  min-width: 205px;
  background: url("../images/top-section/icons/icons-sprite.png") no-repeat left;
  margin: 0 684px 0 0;
}
.header__night-button {
  display: inline-block;
  min-width: 30px;
  background: url("../images/top-section/icons/icons-sprite.png") no-repeat;
  background-position: -205px;
  margin: 0 24px 0 0;
}
.header__account-button {
  min-width: 40px;
  display: inline-block;
  background: url("../images/top-section/icons/icons-sprite.png") no-repeat;
  background-position: -235px;
}
.header__menu {
  display: flex;
  align-items: center;
  margin: 0 48px 0 0;
}
.menu__list {
  display: flex;
}
.menu__item {
  margin: 0 24px 0 0;
}
.menu__item:last-child {
  margin: 0;
}
.menu__link {
  font-size: 24px;
  line-height: 117%;
  color: #fff;
}
.menu__link:hover {
  padding: 0 0 8px 0;
  border-bottom: 4px solid #f5bd41;
}

/* .............................. */

/* top section content */

.top-section__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 131px 0;
}
.content__title {
  align-self: start;
  max-width: 542px;
  margin: 0 0 100px 0;
  font-weight: 500;
  font-size: 50px;
  line-height: 118%;
  color: #fff;
}
.content__form-subtitle {
  display: flex;
  align-self: start;
  padding: 0 0 0 24px;
  margin: 0 0 24px 0;
  z-index: 10;
}
label {
  margin: 0 221px 0 0;
  font-size: 18px;
  line-height: 117%;
  color: #fff;
}
label:last-child {
  margin: 0;
}
.content__form {
  display: flex;
  align-items: center;
  align-self: start;
  margin: 0 0 280px 0;
  background: #fff;
  border-radius: 8px;
  z-index: 10;
}
.content__form_city {
  padding: 0 24px;
  font-size: 18px;
  line-height: 117%;
  color: #383838;
  width: 467px;
  height: 64px;
  border: 3px solid #f3f3f4;
  border-radius: 8px;
}

.content__form_city:hover {
  border: 3px solid #f5bd41;
  border-radius: 8px;
}

.content__form_date {
  width: 259px;
  height: 64px;
}
.content__form_date:hover {
  border: 3px solid #f5bd41;
  border-radius: 8px;
}

.content__form_guests {
  padding: 0 24px;
  font-size: 18px;
  line-height: 117%;
  color: #383838;
  width: 314px;
  height: 64px;
  border: 3px solid #f3f3f4;
}
.content__form_guests:hover {
  border: 3px solid #f5bd41;
  border-radius: 8px;
}
.content__form_button {
  font-weight: 500;
  font-size: 24px;
  line-height: 117%;
  text-align: center;
  color: #fff;
  width: 192px;
  height: 64px;
  background: #3077c6;
  border-radius: 8px;
}
.content__form_button:hover {
  color: #f5bd41;
}
.content__download {
  display: flex;
  justify-content: space-between;
  width: 270px;
  height: 40px;
  z-index: 10;
}
.content__download_google {
  width: 135px;
  background: url("../images/top-section/icons/icons-sprite.png") no-repeat;
  background-position: -275px;
}
.content__download_appstore {
  width: 120px;
  background: url("../images/top-section/icons/icons-sprite.png") no-repeat;
  background-position: -410px;
}

/* ........................................... */

/* OFFER */

/* COMMON STYLES */
.features__subtitle {
  font-size: 24px;
  line-height: 28px;
  color: #383838;
}
.features__item {
  width: 296px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}
.item__img {
  display: flex;
  height: 100px;
  margin: 0 0 52px 0;
}
/* .................................. */

.offer {
  padding: 106px 0 122px 0;
}
.offer__title {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  color: #383838;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.offer__title:after {
  content: "";
  display: block;
  width: 100px;
  height: 4px;
  background: #f5bd41;
  margin: 20px 0 0 0;
}
.offer__features {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 80px 0 0 0;
}
/* .............................. */
/* FOOTER */

/* COMMON STYLES */

.link__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  color: #fff;
}
.link__title:hover {
  text-decoration: underline;
}
.item__link {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  color: #fff;
}
.item__link:hover {
  text-decoration: underline;
}
.list__item {
  margin: 24px 0 0 0;
}

/* ......................... */

.footer {
  padding: 120px 0;
  background: #10367c;
}
.footer__container {
  display: flex;
  flex-wrap: wrap;
}

.footer__about {
  margin: 0 223px 0 0;
}

.footer__property {
  margin: 0 282px 0 0;
}
.footer__copyright {
  line-height: 1.14;
  color: #fff;
  margin: 64px 0 0 0;
}
/* ............................. */
